<div class="flex flex-col h-full w-full">
<header>
  <a href="#projects">
            <div class="absolute top-5 left-5 flex items-center space-x-2">
                <img src="icons/logo.png" alt="Logo" class="w-10 h-10">
                <h1 class="text-3xl font-bold text-white">Paybuddy</h1>
            </div>
        </a>

        <div class="absolute top-5 right-5 flex items-center  space-x-2" id="userbar">
        </div>
  </nav>

</header>

<!-- router contents -->
<main id="maincontent">Loading...</main>


<footer class="mt-auto">
  <div id="languagecontrol">Loading...</div>
</footer>
</div>
