<div key="{{idProject}}"
  class="flex justify-between items-center bg-[#3d3d3d] p-4 rounded text-white"
>
  <a href="">
    <div class="flex items-center space-x-2">
      <i class="fa-regular fa-folder-open text-{{theme}}"></i>
      <span>{{projectName}}</span>
    </div>
  </a>
</div>