-- Crear usuario y base de datos
CREATE USER IF NOT EXISTS 'mvcuser'@'localhost' IDENTIFIED BY 'paybuddypass';
GRANT ALL PRIVILEGES ON paybuddy.* TO 'mvcuser'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;

CREATE DATABASE IF NOT EXISTS paybuddy;
USE paybuddy;

-- Crear tabla `User`
DROP TABLE IF EXISTS `User`;
CREATE TABLE `User` (
  `userName` varchar(30) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(30) NOT NULL,
  PRIMARY KEY (`userName`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Insertar datos en `User`
INSERT INTO `User` VALUES ('juan','juan@gmail.com','juan'),('maria','maria@gmail.com','maria'),('pedro','pedro@gmail.com','pedro');

-- Crear tabla `Project`
DROP TABLE IF EXISTS `Project`;
CREATE TABLE `Project` (
  `idProject` bigint NOT NULL AUTO_INCREMENT,
  `projectName` varchar(30) NOT NULL,
  `theme` varchar(10) NOT NULL,
  PRIMARY KEY (`idProject`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4;

-- Insertar datos en `Project`
INSERT INTO `Project` VALUES (1,'Proyecto A','orange-300'),(2,'Proyecto B','red-500'),(3,'Proyecto C','green-400');

-- Crear tabla `Payment`
DROP TABLE IF EXISTS `Payment`;
CREATE TABLE `Payment` (
  `idPayment` bigint NOT NULL AUTO_INCREMENT,
  `idProject` bigint NOT NULL,
  `payerName` varchar(30) NOT NULL,
  `totalAmount` decimal(10,2) NOT NULL,
  `subject` varchar(30) NOT NULL,
  PRIMARY KEY (`idPayment`),
  KEY `payerName` (`payerName`),
  KEY `idProject` (`idProject`),
  FOREIGN KEY (`payerName`) REFERENCES `User` (`userName`) ON DELETE CASCADE,
  FOREIGN KEY (`idProject`) REFERENCES `Project` (`idProject`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4;

-- Insertar datos en `Payment`
INSERT INTO `Payment` VALUES (1,1,'juan',100.00, 'Payment 1'),(2,2,'maria',200.50, 'Payment 2'),(3,3,'pedro',150.75, 'Payment 3');

-- Crear tabla `Debt`
DROP TABLE IF EXISTS `Debt`;
CREATE TABLE `Debt` (
  `idProject` bigint NOT NULL,
  `idPayment` bigint NOT NULL,
  `debtorName` varchar(30) NOT NULL,
  PRIMARY KEY (`idProject`,`idPayment`,`debtorName`),
  KEY `debtorName` (`debtorName`),
  FOREIGN KEY (`idProject`, `idPayment`) REFERENCES `Payment` (`idProject`, `idPayment`) ON DELETE CASCADE,
  FOREIGN KEY (`debtorName`) REFERENCES `User` (`userName`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Insertar datos en `Debt`
INSERT INTO `Debt` VALUES (2,2,'juan'),(3,3,'juan'),(1,1,'maria');

-- Crear tabla `Member`
DROP TABLE IF EXISTS `Member`;
CREATE TABLE `Member` (
  `userName` varchar(30) NOT NULL,
  `idProject` bigint NOT NULL,
  PRIMARY KEY (`userName`,`idProject`),
  KEY `idProject` (`idProject`),
  FOREIGN KEY (`userName`) REFERENCES `User` (`userName`) ON DELETE CASCADE,
  FOREIGN KEY (`idProject`) REFERENCES `Project` (`idProject`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Insertar datos en `Member`
INSERT INTO `Member` VALUES ('juan',1),('maria',1),('pedro',2),('juan',3);
